doctype html
html(lang='en')
	head
		title Email App
		meta(name="viewport" content="width=device-width, initial scale=1")
		style(type="text/css").
			.container{position:relative;max-width:650px;height:500px;border:solid 10px;border-radius:10px;-webkit-overflow-scrolling:touch; overflow-y:scroll;}
			.interface{position:absolute;bottom:0px;width:100%;height:60px;background-color:LightGray;z-index:3;opacity:0.9;overflow:hidden;} 
			.searchbar{display:inline-block;width:200px;height:50px;top:10px;background-color:AliceBlue;} .interface.Large{opacity:1;height:200px;} 
			iframe{position:relative;width:100%;height:100%;border:solid:30px;}
	body
		- console.log(pageNum+1);
		form(action="/mailapp/query" method="get")
			input.searchbar(type="text",name="query")
		
		- for(var i=0;i<25;i++)
			if(parsedlist[i])
				.container
					.interface
						span.interface--from #{parsedlist[i+pageNum*25].from.text}
						span.interface--Date #{parsedlist[i+pageNum*25].date.toUTCString()}
						span.interface--subject #{parsedlist[i+pageNum*25].subject} 
					iframe(sandbox="" src="email/"+(i+pageNum*25))
		.navigation
			- var numEmails=0;if(parsedlist[25+pageNum*25]){numEmails=25;}else{numEmails=parsedlist.length-25*pageNum}
			span #{pageNum*25} to #{numEmails+pageNum*25}
			form(action="/mailapp/next" method="get") filler
				button#next NEXT 
			form(action="/mailapp/back" method="get") filler
				button#back BACK
			form#sendMail(action="mailapp/" method="post")
				input(name="to")
				textarea(name="emailtext" rows="10" cols="50")
				<button type="submit">Send</button>
		<script type="text/javascript"> var count=26; var c=document.getElementById("c");var open=function(event){event.target.classList.toggle("Large");event.target.parentElement.classList.toggle("Large");};c.addEventListener("click",open);</script>
