doctype html
html(lang='en')
	head
		title Linked
		meta(name="viewport" content="width=device-width, initial scale=1")
		style(type="text/css").
			.topics{font-size:1.5em;height:auto;background-color:Gainsboro;}
			.comment{margin-top:10px;}
			.topicWrapper{margin-top:2em;height:auto;width:device-width;padding:5px;overflow-wrap: break-word;}
			.username{margin-right:30px;}
			.date{display:inline-block;float:right;}
			.topics .date{font-size:0.66em;}
			.commentWrapper{width:inherit;}
			
	body
		h1=user
		form(action='/forum', method='post')
			label Start a new discussion
				p
					textarea(name='heading' rows='3' cols='50')
			button(type='submit') Submit
		if topics
			- for (var i=topics.length-1;i>-1;i--)
				.topicWrapper
					.topics=topics[i].heading
						-let now=new Date();let postDate=new Date(topics[i].date)
						if (now-postDate)<86400000
							.date=Math.floor((now-postDate)/3600000)+' hours ago'
						else
							.date=topics[i].date.slice(0,12)
					
					if topics[i].comments.length
						each comment in topics[i].comments
							.commentWrapper
								span.username=comment.user+':'
								span.comment=comment.comment
								-let now=new Date();let postDate=new Date(comment.date)
								if (now-postDate)<86400000
									.date=Math.floor((now-postDate)/3600000)+' hours ago'
								else
									.date=comment.date.slice(0,12)
									
							
								
					.comment
								form(action='/forum/comment', method='post')
									label add comment
										input(type='text', name='comment')
									input(type='hidden', name='topicNum' value=topics.indexOf(topics[i]))
									input(type='hidden', name='user' value=user)
						

	